body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:853px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:78px;
  width:879px;
  height:560px;
  overflow:hidden;
}
#u143_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:560px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u143_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-11px;
  width:866px;
  height:89px;
  overflow:hidden;
}
#u144_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:89px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(72, 68, 78, 1);
  background-image:none;
}
#u144_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#39EE9D;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:30px;
  width:273px;
  height:19px;
  font-size:16px;
  color:#39EE9D;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:39px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:20px;
  width:45px;
  height:39px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:35px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:20px;
  width:294px;
  height:35px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:93px;
  width:30px;
  height:28px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:131px;
  width:119px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:96px;
  width:35px;
  height:25px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:131px;
  width:71px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:92px;
  width:85px;
  height:36px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:131px;
  width:52px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:131px;
  width:35px;
  height:20px;
  font-size:12px;
  color:#666666;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:93px;
  width:42px;
  height:28px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:86px;
  width:22px;
  height:21px;
  color:#FFFFFF;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:131px;
  width:106px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:93px;
  width:30px;
  height:28px;
  color:transparent;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:85px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:75px;
  width:141px;
  height:85px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:124px;
  height:9px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:156px;
  width:119px;
  height:4px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:195px;
  width:187px;
  height:30px;
}
#u168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:199px;
  width:21px;
  height:22px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:326px;
  width:187px;
  height:65px;
  font-size:12px;
  color:#666666;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:44px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:334px;
  width:48px;
  height:44px;
  color:#666666;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:334px;
  width:75px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:363px;
  width:112px;
  height:11px;
  font-size:10px;
  color:#666666;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:376px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:237px;
  width:2px;
  height:373px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:506px;
  width:550px;
  height:104px;
}
#u176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:104px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:401px;
  width:187px;
  height:65px;
  font-size:12px;
  color:#999999;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:412px;
  width:63px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:67px;
  background:inherit;
  background-color:rgba(57, 238, 157, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:249px;
  width:224px;
  height:67px;
  font-size:12px;
  color:#999999;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:44px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:257px;
  width:48px;
  height:44px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:257px;
  width:78px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:282px;
  width:98px;
  height:11px;
  font-size:10px;
  color:#666666;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:276px;
  width:492px;
  height:61px;
  font-size:12px;
  color:#999999;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:284px;
  width:473px;
  height:45px;
  color:#666666;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  word-wrap:break-word;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:254px;
  width:95px;
  height:17px;
  color:#666666;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:419px;
  width:57px;
  height:26px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:441px;
  width:94px;
  height:11px;
  font-size:10px;
  color:#666666;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:41px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:277px;
  width:43px;
  height:41px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
  background:-webkit-linear-gradient(270deg, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) 1%, rgba(57, 238, 157, 1) 1%, rgba(57, 238, 157, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) 1%, rgba(57, 238, 157, 1) 1%, rgba(57, 238, 157, 1) 100%);
  background:linear-gradient(180deg, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) 1%, rgba(57, 238, 157, 1) 1%, rgba(57, 238, 157, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:194px;
  width:70px;
  height:33px;
  color:#FFFFFF;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:195px;
  width:84px;
  height:33px;
  color:#FFFFFF;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:195px;
  width:84px;
  height:33px;
  color:#FFFFFF;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:93px;
  width:42px;
  height:28px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:86px;
  width:22px;
  height:21px;
  color:#FFFFFF;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:131px;
  width:35px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:317px;
  width:22px;
  height:21px;
  color:#FFFFFF;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
