body {
  margin:0px;
  background-image:url('../../images/docdoor/bg.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  left:-0px;
  width:1696px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 14px;
  text-align:center;
  padding-left:30px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
  font-size: 26px;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.ax_default text_field {
  position: relative;
  display: inline-block;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1696px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1696px;
  height:100px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:relative;
  top:15px;
  width:65%;
  height:50%;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:24px;
  width:277px;
  opacity:0.7;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Archia';
  font-weight:700;
  font-style:normal;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:40px;
  width:172px;
  height:22px;
  font-family:'Archia';
  font-weight:700;
  font-style:normal;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:40px;
  width:36px;
  height:22px;
  font-family:'Bahnschrift', 'Bahnschrift Regular', 'Bahnschrift';
  font-weight:700;
  font-style:normal;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  left:80px;
  width:36px;
  white-space:nowrap;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Archia', 'Archia';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:269px;
  width:248px;
  height:22px;
  font-family:'Archia', 'Archia';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Archia', 'Archia';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:269px;
  width:127px;
  height:28px;
  font-family:'Archia', 'Archia';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:475px;
  width:118px;
  height:22px;
  font-size:14px;
  display:none;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:100px;
  word-wrap:break-word;
  display:none;
}
#u6_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}

.u12_input {
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border-radius: 6px;
  position: relative;
  display:none;
}

#u7 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:475px;
  width:123px;
  height:22px;
  font-size:14px;
  display:none;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:105px;
  word-wrap:break-word;
  display:none;
}
#u7_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:40px;
  background:inherit;
  background-color:rgba(116, 246, 156, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Archia';
  font-weight:300;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:521px;
  width:231px;
  height:40px;
  font-family:'Archia';
  font-weight:300;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:227px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:370px;
  top:-13px;
  width:40px;
  height:31px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:539px;
  width:25px;
  height:5px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:12px;
  width:231px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:297px;
  width:231px;
  height:64px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:297px;
  width:376px;
  height:64px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
  font-family:'Archia';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:40px;
  width:78px;
  height:22px;
}
#u12_input {
  position:absolute;
  left:-45px;
  top:0px;
  width:78px;
  height:22px;
  font-family:'Archia';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  display:none;
}
#u12_input:disabled {
  color:grayText;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:315px;
  width:30px;
  height:28px;
  opacity:0.5;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:383px;
  width:376px;
  height:64px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
  font-family:'Archia';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:401px;
  width:30px;
  height:28px;
  opacity:0.5;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(116, 246, 156, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Archia Bold', 'Archia Regular', 'Archia';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:31px;
  width:140px;
  height:40px;
  font-family:'Archia Bold', 'Archia Regular', 'Archia';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
  left:-100px;

}
