body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:853px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:78px;
  width:879px;
  height:560px;
  overflow:hidden;
}
#u255_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:560px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u255_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-11px;
  width:866px;
  height:89px;
  overflow:hidden;
}
#u256_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:89px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(72, 68, 78, 1);
  background-image:none;
}
#u256_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:35px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:20px;
  width:294px;
  height:35px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
