body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1217px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:65px;
  width:1243px;
  height:1322px;
  overflow:hidden;
}
#u157_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1243px;
  height:1322px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u157_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-11px;
  width:1230px;
  height:89px;
  overflow:hidden;
}
#u158_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:89px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(72, 68, 78, 1);
  background-image:none;
}
#u158_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:35px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:20px;
  width:294px;
  height:35px;
  opacity:0.7;
  text-align:left;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:374px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:127px;
  width:387px;
  height:374px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:179px;
  width:383px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:228px;
  width:140px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:294px;
  width:254px;
  height:40px;
}
#u162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
  background-color:#DEE4E6;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:344px;
  width:140px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:398px;
  width:140px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:17px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:163px;
  width:172px;
  height:17px;
  color:#999999;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
