body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-19px;
  width:589px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u74 {
  position:absolute;
  left:19px;
  top:19px;
}
#u74_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:589px;
  height:541px;
  background-image:none;
}
#u74_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:89px;
  width:155px;
  height:28px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:154px;
  width:48px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:64px;
  background:inherit;
  background-color:rgba(222, 228, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:136px;
  width:332px;
  height:64px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:193px;
  width:1px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:246px;
  width:78px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:64px;
  background:inherit;
  background-color:rgba(222, 228, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:230px;
  width:248px;
  height:64px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:64px;
  background:inherit;
  background-color:rgba(222, 228, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:230px;
  width:74px;
  height:64px;
  font-size:18px;
  text-align:center;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:70px;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:335px;
  width:71px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:64px;
  background:inherit;
  background-color:rgba(222, 228, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:313px;
  width:332px;
  height:64px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
  background:inherit;
  background-color:rgba(80, 211, 154, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Light', 'Calibri';
  font-weight:300;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:501px;
  width:157px;
  height:40px;
  font-family:'Calibri Light', 'Calibri';
  font-weight:300;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:153px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:36px;
  height:31px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:518px;
  width:21px;
  height:5px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:435px;
  width:163px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:435px;
  width:245px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:435px;
  width:110px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:416px;
  width:28px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:415px;
  width:32px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:417px;
  width:100px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:353px;
  width:1px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:401px;
  width:574px;
  height:1px;
  opacity:0.6;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:9px;
  width:155px;
  height:40px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:151px;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:9px;
  width:146px;
  height:40px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:9px;
  width:155px;
  height:40px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:151px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:2px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:29px;
  width:35px;
  height:1px;
  opacity:0.6;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:2px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:29px;
  width:35px;
  height:1px;
  opacity:0.6;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:589px;
  height:541px;
  visibility:hidden;
  background-image:none;
}
#u74_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:89px;
  width:74px;
  height:28px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:193px;
  width:1px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
  background:inherit;
  background-color:rgba(80, 211, 154, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Light', 'Calibri';
  font-weight:300;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:501px;
  width:157px;
  height:40px;
  font-family:'Calibri Light', 'Calibri';
  font-weight:300;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:153px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:36px;
  height:31px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:518px;
  width:21px;
  height:5px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:435px;
  width:163px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:435px;
  width:245px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:435px;
  width:110px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:416px;
  width:28px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:415px;
  width:32px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:417px;
  width:100px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:353px;
  width:1px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:401px;
  width:574px;
  height:1px;
  opacity:0.6;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:9px;
  width:155px;
  height:40px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:151px;
  word-wrap:break-word;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(80, 211, 154, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:9px;
  width:146px;
  height:40px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:9px;
  width:155px;
  height:40px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:151px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:2px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:29px;
  width:35px;
  height:1px;
  opacity:0.6;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:2px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:29px;
  width:35px;
  height:1px;
  opacity:0.6;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:137px;
  width:145px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:186px;
  width:253px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:96px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:239px;
  width:304px;
  height:96px;
  opacity:0.7;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:589px;
  height:541px;
  visibility:hidden;
  background-image:none;
}
#u74_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:193px;
  width:1px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
  background:inherit;
  background-color:rgba(80, 211, 154, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Light', 'Calibri';
  font-weight:300;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:501px;
  width:157px;
  height:40px;
  font-family:'Calibri Light', 'Calibri';
  font-weight:300;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:153px;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:36px;
  height:31px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:518px;
  width:21px;
  height:5px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:435px;
  width:163px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:435px;
  width:245px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:435px;
  width:110px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:416px;
  width:28px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:415px;
  width:32px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:417px;
  width:100px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:353px;
  width:1px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:401px;
  width:574px;
  height:1px;
  opacity:0.6;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:9px;
  width:155px;
  height:40px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:151px;
  word-wrap:break-word;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:9px;
  width:146px;
  height:40px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
  background:inherit;
  background-color:rgba(80, 211, 154, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:9px;
  width:155px;
  height:40px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:151px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:2px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:29px;
  width:35px;
  height:1px;
  opacity:0.6;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:2px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:29px;
  width:35px;
  height:1px;
  opacity:0.6;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#50D39A;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:89px;
  width:285px;
  height:28px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#50D39A;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:147px;
  width:310px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  white-space:nowrap;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:202px;
  width:303px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  white-space:nowrap;
}
