body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1187px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:78px;
  width:1213px;
  height:823px;
  overflow:hidden;
}
#u378_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1213px;
  height:823px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u378_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-11px;
  width:1200px;
  height:89px;
  overflow:hidden;
}
#u379_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(72, 68, 78, 1);
  background-image:none;
}
#u379_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#39EE9D;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:30px;
  width:225px;
  height:19px;
  font-size:16px;
  color:#39EE9D;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:39px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:20px;
  width:45px;
  height:39px;
  opacity:0.7;
  text-align:right;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:35px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:20px;
  width:294px;
  height:35px;
  opacity:0.7;
  text-align:left;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:93px;
  width:30px;
  height:28px;
  opacity:0.5;
  text-align:left;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:131px;
  width:119px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:96px;
  width:35px;
  height:25px;
  opacity:0.5;
  text-align:left;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:131px;
  width:71px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:92px;
  width:85px;
  height:36px;
  opacity:0.7;
  text-align:left;
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:131px;
  width:52px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:131px;
  width:35px;
  height:20px;
  font-size:12px;
  color:#666666;
}
#u393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:93px;
  width:42px;
  height:28px;
  opacity:0.5;
  text-align:left;
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:86px;
  width:22px;
  height:21px;
  color:#FFFFFF;
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:131px;
  width:106px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:93px;
  width:30px;
  height:28px;
  opacity:0.5;
  color:transparent;
  text-align:left;
}
#u398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
  background:inherit;
  background-color:rgba(231, 231, 231, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:192px;
  width:96px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:23px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:191px;
  width:16px;
  height:23px;
  opacity:0.5;
}
#u400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:23px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:191px;
  width:16px;
  height:23px;
  opacity:0.5;
}
#u401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:353px;
  width:48px;
  height:45px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:256px;
  width:637px;
  height:45px;
  font-size:12px;
  color:#999999;
}
#u403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:43px;
  background:inherit;
  background-color:rgba(57, 238, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:305px;
  width:637px;
  height:43px;
  font-size:12px;
  color:#999999;
}
#u404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:352px;
  width:637px;
  height:45px;
  font-size:12px;
  color:#FFFFFF;
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
  background:inherit;
  background-color:rgba(57, 238, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:305px;
  width:48px;
  height:45px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:256px;
  width:48px;
  height:45px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:43px;
  background:inherit;
  background-color:rgba(57, 238, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:401px;
  width:637px;
  height:43px;
  font-size:12px;
  color:#999999;
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
  background:inherit;
  background-color:rgba(57, 238, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:402px;
  width:48px;
  height:45px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:356px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:378px;
  width:104px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:359px;
  width:76px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:361px;
  width:104px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:43px;
  background:inherit;
  background-color:rgba(57, 238, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:449px;
  width:637px;
  height:43px;
  font-size:12px;
  color:#999999;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
  background:inherit;
  background-color:rgba(57, 238, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:450px;
  width:48px;
  height:45px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:498px;
  width:48px;
  height:45px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:497px;
  width:637px;
  height:45px;
  font-size:12px;
  color:#FFFFFF;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:501px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:523px;
  width:104px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:504px;
  width:74px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:506px;
  width:112px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:43px;
  background:inherit;
  background-color:rgba(57, 238, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:547px;
  width:637px;
  height:43px;
  font-size:12px;
  color:#999999;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
  background:inherit;
  background-color:rgba(57, 238, 157, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:546px;
  width:48px;
  height:45px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:48px;
  word-wrap:break-word;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:191px;
  width:105px;
  height:22px;
}
#u424_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  background-color:#DEE4E6;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u424_input:disabled {
  color:grayText;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:194px;
  width:89px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:187px;
  width:114px;
  height:33px;
  color:#FFFFFF;
  text-align:center;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:110px;
  word-wrap:break-word;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:187px;
  width:96px;
  height:33px;
  color:#FFFFFF;
  text-align:center;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:605px;
  width:16px;
  height:13px;
  opacity:0.5;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:96px;
  width:33px;
  height:25px;
  opacity:0.5;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:85px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:75px;
  width:141px;
  height:85px;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:131px;
  width:74px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:124px;
  height:9px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:156px;
  width:119px;
  height:4px;
  opacity:0.6;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:96px;
  width:33px;
  height:25px;
  opacity:0.5;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
